@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #2e3035;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;

  & > img {
    margin-right: 0.7rem;
  }
}

#backgroundDiv {
  background-image: url("../static/PNG/download.png");
  height: 40vh;
  top: 0;
  z-index: 3;
  
  h2{
    color: rgba($color: #fff, $alpha: 0.8);
    margin: 2rem auto;
    text-align: center;
  }
}

nav {
  padding: 0.5rem;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & > div:nth-child(2) {
    flex: 1;
  }

  & > div > * {
    margin: 0 0.5rem;
  }

  & button {
    background-color: #1bb76e;

    &:hover {
      filter: contrast(1.1);
    }
  }

  & #addFreeButton {
    padding: 0.68rem 0.6rem;
    background-color: #6432f9;
  }

  & #navIcons {
    & > * {
      margin: 0 0.3rem;
      cursor: pointer;
      &:hover {
        filter: brightness(0.86);
      }
    }
  }

  & #searchBox {
    max-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    & > input {
      border: 0;
      width: 100%;
      border-radius: 4px;
      background-color: rgba($color: #fff, $alpha: 0.1);
      padding: 0.7rem 1rem;
      font-size: 14px;
      color: #fff;
      padding-right: 2.5rem;
      letter-spacing: 0.05rem;

      &::placeholder {
        color: #ccc;
        font-weight: bold;
      }

      &:focus {
        outline: none;
      }
    }
    & > img {
      right: 8px;
      cursor: pointer;
      position: absolute;
    }
  }

  & .userProfile {
    display: flex;
    cursor: pointer;
    color: #fff;
    align-items: center;
    & > img {
      margin-left: 0.4rem;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
    }
  }
}

#res {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: -50px;
  & .card {
    margin: 1rem 0.5rem;
    max-width: 250px;
    transition: filter 200ms;
    &:hover{
      transition: filter 300ms;
      filter: brightness(1.2);
    }

    & > div > img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: block;
    }

    & > .imgBottom {
      margin: 0;
      width: 100%;
      padding: 0.5rem;
      color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #474a51;

      & > h4 {
        margin: 1rem 0;
        margin-top: 0.2rem;
      }
      & > div {
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-around;
        & > div {
          display: flex;
          align-items: center;
          span {
            font-size: 12px;
            margin-left: 0.3rem;
          }
          img {
            filter: invert(0.7);
            width: 15px;
            cursor: pointer;
          }
        }
        & > div:first-child:hover {
          img {
            filter: invert(1) brightness(0.5) sepia(1) hue-rotate(115deg) saturate(5);
          }
        }

        & > div:nth-child(2):hover {
          img {
            filter: invert(1) brightness(0.5) sepia(1) hue-rotate(346deg) saturate(5);
          }
        }

        & > div:nth-child(3):hover,
        & > div:nth-child(4):hover {
          img {
            filter: invert(1) brightness(1.2);
          }
        }
      }
    }
  }
}

.loading {
  width: 80px;
  height: 40px;
  border: 2px solid #1bb76e;
  border-radius: 5px;
  margin: 2rem auto;
  display: none;
  align-items: center;
  justify-content: space-around;

  .bindu {
    background-color: #1bb76e;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation-name: runBindu;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .bindu:first-child {
    animation-duration: 300ms;
  }
  .bindu:nth-child(2) {
    animation-duration: 400ms;
  }
  .bindu:nth-child(3) {
    animation-duration: 600ms;
  }
  .bindu:nth-child(4) {
    animation-duration: 800ms;
  }
}

@keyframes runBindu {
  from {
    margin: 0;
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
