@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #2e3035;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
button > img {
  margin-right: 0.7rem;
}

#backgroundDiv {
  background-image: url("../static/PNG/download.png");
  height: 40vh;
  top: 0;
  z-index: 3;
}
#backgroundDiv h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 2rem auto;
  text-align: center;
}

nav {
  padding: 0.5rem;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  align-items: center;
  justify-content: space-between;
}
nav > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav > div:nth-child(2) {
  flex: 1;
}
nav > div > * {
  margin: 0 0.5rem;
}
nav button {
  background-color: #1bb76e;
}
nav button:hover {
  filter: contrast(1.1);
}
nav #addFreeButton {
  padding: 0.68rem 0.6rem;
  background-color: #6432f9;
}
nav #navIcons > * {
  margin: 0 0.3rem;
  cursor: pointer;
}
nav #navIcons > *:hover {
  filter: brightness(0.86);
}
nav #searchBox {
  max-width: 500px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
nav #searchBox > input {
  border: 0;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.7rem 1rem;
  font-size: 14px;
  color: #fff;
  padding-right: 2.5rem;
  letter-spacing: 0.05rem;
}
nav #searchBox > input::placeholder {
  color: #ccc;
  font-weight: bold;
}
nav #searchBox > input:focus {
  outline: none;
}
nav #searchBox > img {
  right: 8px;
  cursor: pointer;
  position: absolute;
}
nav .userProfile {
  display: flex;
  cursor: pointer;
  color: #fff;
  align-items: center;
}
nav .userProfile > img {
  margin-left: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

#res {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: -50px;
}
#res .card {
  margin: 1rem 0.5rem;
  max-width: 250px;
}
#res .card > div > img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}
#res .card > .imgBottom {
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #474a51;
}
#res .card > .imgBottom > h4 {
  margin: 1rem 0;
  margin-top: 0.2rem;
}
#res .card > .imgBottom > div {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}
#res .card > .imgBottom > div > div {
  display: flex;
  align-items: center;
}
#res .card > .imgBottom > div > div span {
  font-size: 12px;
  margin-left: 0.3rem;
}
#res .card > .imgBottom > div > div img {
  filter: invert(0.7);
  width: 15px;
  cursor: pointer;
}
#res .card > .imgBottom > div > div:first-child:hover img {
  filter: invert(1) brightness(0.5) sepia(1) hue-rotate(115deg) saturate(5);
}
#res .card > .imgBottom > div > div:nth-child(2):hover img {
  filter: invert(1) brightness(0.5) sepia(1) hue-rotate(346deg) saturate(5);
}
#res .card > .imgBottom > div > div:nth-child(3):hover img, #res .card > .imgBottom > div > div:nth-child(4):hover img {
  filter: invert(1) brightness(1.2);
}

.loading {
  width: 80px;
  height: 40px;
  border: 2px solid #1bb76e;
  border-radius: 5px;
  margin: 2rem auto;
  display: none;
  align-items: center;
  justify-content: space-around;
}
.loading .bindu {
  background-color: #1bb76e;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation-name: runBindu;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading .bindu:first-child {
  animation-duration: 300ms;
}
.loading .bindu:nth-child(2) {
  animation-duration: 400ms;
}
.loading .bindu:nth-child(3) {
  animation-duration: 600ms;
}
.loading .bindu:nth-child(4) {
  animation-duration: 800ms;
}

@keyframes runBindu {
  from {
    margin: 0;
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

/*# sourceMappingURL=style.css.map */
